/*!
Lines 16 through 25 of this style sheet derive from the style sheet credited below to achieve the font style seen on this webpage. 
This webpage has not been created for personal financial gain, but rather to be used as a person repository for my work in software engineering.
Please see the full details of the source below.

* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Title: Borlandish
* Author: Vishwa.R
* Website: https://code-reaper08.github.io/Vishwa/
*
* View on Style Stage:
* @link https://stylestage.dev/styles/borlandish/
*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  color: #FFFF00;
  font-family: 'Press Start 2P';
  font-size: 1em;
  background: #4613e0;
  text-align: center;
}

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h1, h2 {
    text-shadow: 3px 3px 3px #000000;
  }
  nav {
    text-align: center;
  }
  nav a{
    display: inline-block;
    padding: 10px;
    background-color: rgb(211, 196, 199);
  }
  #intro-to-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  #details {
    display: flex;
    flex-direction: row;
    background-color:  rgb(211, 196, 199);
    justify-content: space-around;
    text-align: center;
    line-height: 22px;
    }
  
